<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>

<div class="container mt-4">
	<table class="table">
		<thead></thead>
		<tr>
			<th>ID</th>
			<th>NOMBRES</th>
			<th>TELÉFONO</th>
			<th>ACCIONES</th>
		</tr>
			<tbody>
				<tr th:edge="persona:${personas}">
					<td>${persona.id}</td>
					<td>${persona.name}</td>
					<td>${persona.telefono}</td>
					<td>
					<a btn="btn btn-warning">Editar</a>
					<a btn="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
	</table>
</div>

</body>
</html>